# place at /etc/systemd/system/pages.service

[Unit]
Description=Gunicorn instance to serve pages
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Portfolio_Project
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind 0.0.0.0:5002 webpages.pages:app

[Install]
WantedBy=multi-user.target
