html {
    background-color: black;
}

body {
    height: 98vh;
    margin: 1vh;
    /* background-color: rgb(63, 63, 63); */
}

#videos {
    position: relative;
    height: 90%;
    width: fit-content;
    margin: auto;
}

.video-player {
    object-fit: contain;
    object-position: bottom;
}

#participant {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    z-index: 20;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#user {
    height: 100%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    z-index: 10;
    background-color: antiquewhite;
    border-radius: 5px;
}

#controls {
    height: 10%;
    width: 100%;
}

#buttons {
    position: relative;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
