html {
    background-color: black;
}

body {
    height: 98vh;
    margin: 1vh;
    background-color: rgb(63, 63, 63);
}

#videos {
    position: relative;
    height: 80%;
    width: fit-content;
    margin: auto;
    background-color: aqua;
}

.video-player {
    object-fit: contain;
    object-position: bottom;
    background-color: blueviolet;
}

#participant {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    z-index: 20;
    background-color: blue;
}

#user {
    height:100%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    z-index: 10;
    background-color: antiquewhite;
}