html {
    background-color: black;
}

body {
    height: 98vh;
    margin: 1vh;
}

#videos {
    position: relative;
    height: 100%;
    width: fit-content;
    margin: auto;
}

.video-player {
    object-fit: contain;
    object-position: bottom;
}

#participant {
    height:100%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    z-index: 10;
}

#code_box {
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 20;
    font-size: 20vh;
    background-color: white;
    border-radius: 20px;
    visibility: hidden;
}