<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Participant Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="u_agora_uid" content="{{ u_agora_uid }}">
    <meta name="p_agora_uid" content="{{ p_agora_uid }}">
    <meta name="pitunnel_url" content="{{ pitunnel_url }}">
    <title>Participant Page</title>
    <link rel='stylesheet' type='text/css' media='screen' href="../webpages/static/styles/participant_page.css">
</head>

<body>
    <div id="videos">
        <video class="video-player" id="user" autoplay playsinline></video>
        <video class="video-player" id="participant" autoplay playsinline muted></video>
    </div>
    <div id="controls">
        <div id="buttons">
            <button id="call_button">Start Call</button>
            <button id="video_button">Request Video</button>
            <button id="end_call_button">End Call</button>
        </div>
    </div>

</body>
<script src="../webpages/static/scripts/adapter.js"></script>
<script src="../webpages/static/scripts/agora-rtm-sdk-1.5.1.js"></script>
<script src="../webpages/static/scripts/participant_page.js"></script>

</html>