<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Participant Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="u_agora_uid" content="{{ u_agora_uid }}">
    <meta name="p_agora_uid" content="{{ p_agora_uid }}">
    <title>Participant Page</title>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/participant_page.css">
</head>

<body>
    <div id="videos">
        <video class="video-player" id="user" autoplay playsinline></video>
        <video class="video-player" id="participant" autoplay playsinline></video>
    </div>
    <div id="controls">
        <button id="call_button">Start Call</button>
    </div>

</body>
<script src="static/scripts/agora-rtm-sdk-1.5.1.js"></script>
<script src="static/scripts/participant_page.js"></script>
<!-- <script src="static/scripts/agora_practice.js"></script> -->

</html>