<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="u_agora_uid" content="{{ u_agora_uid }}">
    <meta name="pitunnel_url" content="{{ pitunnel_url }}">
    <title>User Page</title>
    <link rel='stylesheet' type='text/css' media='screen' href="../../webpages/static/styles/user_page.css">
</head>

<body>
    <div id="videos">
        <video class="video-player" id="participant" autoplay playsinline></video>
        <div id="code_box"></div>
    </div>
</body>
<script src="../../webpages/static/scripts/adapter.js"></script>
<script src="../../webpages/static/scripts/agora-rtm-sdk-1.5.1.js"></script>
<script src="../../webpages/static/scripts/user_page.js"></script>

</html>